<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PROFILE</h1>
    Avatar: 
    <img src="<% if (user.picture.image_url) {%><%=user.picture.name%><%} else {%>/upload/avatar/<%=user.picture.name%><%}%>" alt="user-avatar" style="width: 150px; height: auto; border-radius: 30%;">
    <br><br>
    Username: <%=user.username%>
    <br><br>
    Email: <%= user.email %>
    <br><br>
    Is verified: <% if (user.email_verified){%><b style="color:green;">true</b> <%} else {%><b style="color:red;">false</b><%} %>
    <br><br>
    First name: <%= user.family_name %>
    <br><br>
    Last name: <%= user.given_name %>
    <br><br>
    Gender: <%=user.gender%>
    <br><br>
    Phone: <%=user.phone%>
    <br><br>
    <a href="/user/settings"><b>Change</b></a>
    <br><br>
    <br><br>
    <a href="/chat">Chat</a>
    <a href="/"> Home </a> | <a href="/user/logout">Sign Out</a>
</body>
</html>